@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f4f4;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #333;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.swiper-button-next::before {
  content: "\2192";
  font-size: 24px;
}

.swiper-button-prev::before {
  content: "\2190";
  font-size: 24px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

@media (max-width: 767px) {
  swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media (min-width: 1468px) {
  body {
    margin: 0px 200px;
  }
}

@media (min-width: 1830px) {
  body {
    margin: 0px 400px;
  }
}

@media (min-width: 2252px) {
  body {
    margin: 0px 600px;
  }
}

@media (min-width: 2630px) {
  body {
    margin: 0px 800px;
  }
}
